<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Registration Form</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app_registrarse/css/registrarse.css' %}">
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

{% load static %}
<body>
    <div class="container" id="registration-form">
        <div class="image"></div>
        <div class="frm">
            <h1>Registrarse</h1>
            <form action="" method="POST">
              {% csrf_token %}
                <div class="form-group">
                    <label for="username">Nombre:</label>
                    {{form.nombres}}
                </div>
                {{form.nombres.errors}}
                <div class="form-group">
                    <label for="apellidos">Apellidos:</label>
                    {{form.apellidos}}
                </div>
                <div class="form-group">
                    <label for="country">Pais:</label>
                    {{form.pais}}
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    {{form.email}}
                </div>
                <div class="form-group">
                  <label for="fecha_nacimiento">Fecha de nacimiento:</label>
                  {{form.fecha_nacimiento}}
                </div>
                <div class="form-group">
                  <label for="genero">Genero:</label>
                  {{form.genero}}
                </div>
                <div class="form-group">
                  <label for="contraseña">Contraseña:</label>
                  {{form.contraseña}}
                </div>
                <!--<div class="g-recaptcha" data-sitekey="6LdaUqcUAAAAAOK3xzjo-oknTM33fbXExlcwFG0z"></div>-->
                {{form.captcha}}
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg">Enviar</button>
                </div>

            </form>
        </div>
    </div>
</body>

</html>
